<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="BitcoinAnalysis"
         providerName="System.Data.SqlClient"
         connectionString="connectionstring"
         />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="layout" value="[${longdate} ${level}] ${message} | ${exception:format=tostring}"/>
    <targets>
      <target name="file" fileName="e:\logfiles\nlog\blockchain-enrichment-mk2.log" xsi:type="File" layout="${layout}" />
      <target name="largeAddressFile" fileName="e:\logfiles\nlog\suspicious-addresses.log" xsi:type="File" layout="${layout}" />
      <target name="console" xsi:type="ColoredConsole" layout="${layout}" />
    </targets>
    <rules>
      <logger name="LargeAddressLog" writeTo="largeAddressFile" minlevel="Warn" final="true"/>
      <logger name="ConsoleOnly" writeTo="console" minLevel="Debug" final="true" />
      <logger name="*" writeTo="console" minlevel="Info" />
      <logger name="*" writeTo="file" minlevel="Info" />
      
    </rules>    
  </nlog>
</configuration>